<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070340794068-n7p71k7jgoq8fata07reiisa2c2uu49d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070340794068-n7p71k7jgoq8fata07reiisa2c2uu49d</string>
	<key>API_KEY</key>
	<string>AIzaSyBisbn4hvkl2RzqT_FzQ8530Geq4Y0RJ1M</string>
	<key>GCM_SENDER_ID</key>
	<string>1070340794068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driversApp</string>
	<key>PROJECT_ID</key>
	<string>flashryde-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>flashryde-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070340794068:ios:3116037fbbd1469d8a7d41</string>
</dict>
</plist>